{% extends 'pages/article_layout.html' %}
{% block article %}
    <h1 class="title is-1"> About CyberSearch </h1>
    <hr/>
    <h2> What We Do </h2>
    CyberSearch is an <a href="https://github.com/CyberSafe-Labs/CyberSearch-Engine">open source</a> metasearch engine with a special focus on
    privacy and efficiency. All it really does is proxies results from Bing and Wikipedia to you with a customizable
    user interface.
    <hr/>

    <h2> How CyberSearch Works </h2>
    When you search on our site, we take results from Bing and Wikipedia,
    organize them, and
    display them directly to you without logging any identifiable information about you.
    <hr/>

    <h2> How We Make Money </h2>
    CyberSearch doesn't make any money.

    <hr/>
    <h2> About Our Company </h2>
    CyberSearch is part of CyberSafe Labs, Inc. and we are just a small
    team working to improve softwares.

    <br><br>

{% endblock %}
