{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="subtitle is-1"> Contact Us </h1>
<hr/>
<h2> Send Us A Message </h2>
You can send us an email to <a href="mailto:admin@cybersafe.ezyro.com">
adminm@cybersafe.ezyro.com</a>
<hr/>
<h2> Follow Us On Twitter </h2>
Keep up with us at <a href="https://twitter.com/CybersafeLabs"> https://twitter.com/CybersafeLabs </a>
<hr/>
<h2> View Our Repositories On GitHub </h2>
Our open source projects and code can be found at <a href="https://github.com/CyberSafe-Labs/CyberSearch-Engine">
https://github.com/CyberSafe-Labs/CyberSearch-Engine </a>
<br>
{% endblock %}
